<div class="hbox hbox-auto-xs hbox-auto-sm">
  <div class="col" data-ng-controller="ProfileController">
    <div style="background:url(img/c4.jpg) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <div class="clear m-b">
              <div class="m-b m-t-sm">
                <span class="h3 text-black">{{user.profile.first_name}} {{user.profile.last_name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper bg-white b-b">
      <form name="editProfileForm" class="form-validation" novalidate>
        <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
        <div class="form-group pull-in clearfix">
          <div class="col-xs-6">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="First Name" data-ng-model="user.profile.first_name" required>
          </div>
          <div class="col-xs-6">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Last Name" data-ng-model="user.profile.last_name" required>
          </div>
        </div>
        <div class="form-group pull-in clearfix">
          <div class="col-xs-6">
            <label>Username</label>
            <input type="text" class="form-control" placeholder="Username" data-ng-model="user.profile.username" required>
          </div>
          <div class="col-xs-6">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" data-ng-model="user.profile.email" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="submit" class="btn btn-success" data-ng-disabled='editProfileForm.$invalid'
                  data-ng-click="save()" promise-btn>
            <span class="btn-text">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>